/***************************
 * Barra de navegação vertical
 * **************************
 ul {
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
 }

 li {
 	padding: 5px 20px;
 	background: url(imagens/seta.png) no-repeat left center;
 }
*/

ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

ul a {
	font-family: arial;
	font-weight: 700;
	color: darkblue;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	display: block;
	width: 200px;
	height: 40px;
	background: url(imagens/menu.png) no-repeat left bottom;
}

a:hover {
	color: white;
	background-position: right bottom;
}

